{% extends 'base.html' %}

{% block content %}
<div style="padding-top: 50;" class="container text-dark">
    <div class="text-center">
        <small class="lead">Paper</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small></small>
        <a href="{% url 'add-paper' %}" class="btn btn-sm btn-dark">New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Paper</th>
                    <th scope="col">Format</th>
                    <th class="text-nowrap" scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr>
                    <td class="text-nowrap text-dark">{{paper.product}}</td>
                    <td class="text-nowrap text-dark">{{paper.format}}</td>
                    <td class="text-nowrap text-dark">{{paper.Price}}</td>
                    <td class="text-nowrap">
                        <a href="{% url 'delete-paper' paper.id %}" class="btn btn-sm btn-primary">Delete</a>
                        <a href="{% url 'edit-paper' paper.id %}" class="btn btn-sm btn-warning">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No papers available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}