{% extends 'base.html' %}
{% load salesfilters %}

{% block content %}
<div style="padding-top: 50;" class="container text-dark">
    <div class="text-center">
        <h5 class="lead">Today's Sales</h5>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="" class="btn btn-sm btn-primary">Export</a>
        <a href="{% url 'register-sale' %}" class="btn btn-sm btn-dark">Register</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Time</th>
                    <th scope="col">Product</th>
                    <th class="text-nowrap" scope="col">Quantity</th>
                    <th class="text-nowrap" scope="col">Unit Price</th>
                    <th class="text-nowrap" scope="col">Amount Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}
                <tr>
                    <td class="text-nowrap text-dark">{{sale.Date|date:"l, jS F, Y"}} at {{sale.Date|time:"g:i A"}}</td>
                    <td class="text-nowrap text-dark">{{sale.Product}}</td>
                    <td class="text-nowrap">{{sale.Quantity}}</td>
                    <td class="text-nowrap">UGX {{sale.Product.Price}}</td>
                    <td class="text-nowrap">UGX {{sale.Money_Collected}}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Refund</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No sales for today.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-nowrap text-dark">Total</td>
                    <td class="text-nowrap text-dark"></td>
                    <td class="text-nowrap"></td>
                    <td class="text-nowrap"></td>
                    <td class="text-nowrap">UGX {{user.employee.Branch|salestotal}}</td>
                    <td class="text-nowrap">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}