{% extends 'base.html' %}
{% load expensefilters %}


{% block content %}
<div style="padding-top: 50;" class="container text-dark">
    <div class="text-center">
        <h5 class="lead">Today's Expenses</h5>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="" class="btn btn-sm btn-warning">Export</a>
        <a href="{% url 'new-expense' %}" class="btn btn-sm btn-dark">New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Date</th>
                    <th scope="col">Reason</th>
                    <th class="text-nowrap" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td class="text-nowrap text-dark">{{expense.Date|date:"l, jS F, Y"}} at {{expense.Date|time:"g:i A"}}</td>
                    <td class="text-nowrap text-dark">{{expense.Reason}}</td>
                    <td class="text-nowrap text-dark">UGX {{expense.Amount}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Expenses for today.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-nowrap text-dark">Total Spent</td>
                    <td class="text-nowrap text-dark"></td>
                    <td class="text-nowrap text-dark">UGX {{user.employee.Branch|expensetotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}