{% extends 'base.html' %}
{% load printingfilters %}
{% load humanize %}

{% block content %}
<div style="padding-top: 50;" class="container text-dark">
    <div class="text-center">
        <h5>Staff Performance</h5>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'papers' %}" class="btn btn-sm btn-primary">Papers</a>
        <a href="{% url 'register-print' %}" class="btn btn-sm btn-dark">Register</a>
    </div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    {{chart|safe}}
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                  {{bar|safe}}
              </div>                    
            </div>
        </div>
    </div> 
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Staff</th>
                    <th scope="col">24 hr</th>
                    <th class="text-nowrap" scope="col">Monthly</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in employees %}
                <tr>
                    <td class="text-nowrap text-dark">{{staff}}</td>
                    <td class="text-nowrap text-dark">{{staff.day_contribution|intcomma}} UGX</td>
                    <td class="text-nowrap">{{staff.month_contribution|intcomma}} UGX</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No data here.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}