{% extends 'base.html' %}
{% load stocktags %}

{% block content %}
<div style="padding-top: 50;" class="container text-dark">
    <div class="text-center">
        <h5  class="lead">Stock</h5>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small class="lead text-dark"></small>
        <a href="{% url 'add-product' %}" class="btn btn-sm btn-dark">Add Product</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Last Restock</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th class="text-nowrap" scope="col">Items Left</th>
                    <th class="text-nowrap" scope="col">Items Sold</th>
                    <th class="text-nowrap" scope="col">Alert Level</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                {% with stock=product|stock:user.employee.Branch %}
                <tr>
                    
                    <td class="text-nowrap text-dark">{{stock.Date|date:"l, jS F, Y"}} at {{stock.Date|time:"g:i A"}}</td>
                    
                    <td class="text-nowrap text-dark">{{product.Name}}</td>
                    <td class="text-nowrap">UGX {{product.Price}}</td>
                    <td class="text-nowrap">{{stock.Quantity}}</td>
                    <td class="text-nowrap">{{stock.Items_Sold}}</td>
                    <td class="text-nowrap">{{stock.Alert_Level}}</td>
                    <td class="text-nowrap">
                        <a href="{% url 'edit-stock' stock.id %}" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
                {% endwith %}
                {% empty %}
                <tr>
                    <td>No stock found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}