{% extends 'base.html' %}
{% load printingfilters %}

{% block content %}
<div style="padding-top: 50;" class="container text-dark">
    <div class="text-center">
        <h5>Today's Prints</h5>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'papers' %}" class="btn btn-sm btn-primary">Papers</a>
        <a href="{% url 'register-print' %}" class="btn btn-sm btn-dark">Register</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Time</th>
                    <th scope="col">Paper</th>
                    <th class="text-nowrap" scope="col">Quantity</th>
                    <th class="text-nowrap" scope="col">Unit Price</th>
                    <th class="text-nowrap" scope="col">Amount Paid</th>
                </tr>
            </thead>
            <tbody>
                {% for printing in printing %}
                <tr>
                    <td class="text-nowrap text-dark">{{printing.Date|date:"l, jS F, Y"}} at {{printing.Date|time:"g:i A"}}</td>
                    <td class="text-nowrap text-dark">{{printing.Paper}}</td>
                    <td class="text-nowrap">{{printing.No_of_Papers}}</td>
                    <td class="text-nowrap">UGX {{printing.Paper.Price}}</td>
                    <td class="text-nowrap">UGX {{printing.Amount_Paid}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td>No prints for today.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-nowrap text-dark">Total</td>
                    <td class="text-nowrap text-dark"></td>
                    <td class="text-nowrap"></td>
                    <td class="text-nowrap"></td>
                    <td class="text-nowrap">UGX {{user.employee.Branch|printingtotal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}